include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CITATION.cff
include Dockerfile
include SECURITY.md
include requirements.lock.txt
include uv.lock
recursive-include docs *.md *.json *.yaml
recursive-include policy *.json
recursive-include test_data *
recursive-include tests *.py
recursive-include tools *.py
